<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <meta charset='utf-8'>
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
  </head>
  <body>
    <script id="value-template" type="x-tmpl-mustache">
     <div class="tile value-tile" data-width=1 data-height=1>
     <div class="title">{{title}}</div>
     <div class="subtitle">{{subtitle}}</div>
     <div class="metric" data-metric="{{metric}}" data-resolution="{{resolution}}" data-refresh="{{refresh}}">
     &nbsp;
     </div>
     <div class="date">{{date}}</div>
     </div>
    </script>
    <div id="background"></div>
    <div id="container-wrapper">
      <div id="container">
      </div>
      <br style="clear: both;" />
    </div>
    <script src="/assets/js/jquery-1.11.3.min.js"></script>
    <script src="/assets/js/masonry.pkgd.min.js"></script>
    <script src="/assets/js/underscore-min.js"></script>
    <script src="/assets/js/mustache.min.js"></script>
    <script src="/assets/js/dasht.js"></script>
    <%= yield %>
    <script>
     dasht_init();
    </script>
  </body>
</html>
