<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <meta charset='utf-8'>
    <link rel="stylesheet" type="text/css" href="/assets/css/chartist.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
  </head>
  <body>
    <div id="background"></div>
    <div id="container-wrapper">
      <div id="container" />
    </div>
    <script src="/assets/js/jquery-1.11.3.min.js"></script>
    <script src="/assets/js/masonry.pkgd.min.js"></script>
    <script src="/assets/js/underscore-min.js"></script>
    <script src="/assets/js/mustache.min.js"></script>
    <script src="/assets/js/d3.v3.js"></script>
    <script src="/assets/js/rickshaw.min.js"></script>
    <script src="/assets/js/dasht.js"></script>
    <%= load_system_plugins() %>
    <%= yield %>
    <script>
     dasht_init();
    </script>
  </body>
</html>
