@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

html {
    height: 100%
}

body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background-color: #345;
}

/*** CONTAINER ***/

#container {
    background-color: #333;
    display: block;
    width: 1000px;
    height: 1000px;
    border: 0px;
    padding: 0px;
    margin: 0px;
}

.tile {
    float: left;
    position: relative;
}

.tile .title {
    margin: 0px 20px 0px 20px;
    padding-top: 20px;
    padding-bottom: 3px;
    border-bottom: solid 8px rgba(0, 0, 0, 0.4);
    text-align: left;
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    letter-spacing: 0.05em;
    font-weight: bold;
    z-index: 10;
}

.width-1 { width: 160px; }
.width-2 { width: 330px; }
.width-3 { width: 500px; }
.width-4 { width: 660px; }
.width-5 { width: 830px; }
.width-6 { width: 1000px; }

.height-1 { height: 250px; }
.height-2 { height: 500px; }
.height-3 { height: 750px; }
.height-4 { height: 1000px; }

@media (max-width: 640px) {
    #container {
        width: 100%;
        padding: 20px;
        margin: 0px;
    }
}
